<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
    }

    .button:hover {
        background-color: #0056b3;
    }
</style>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>정점 수</th>
                <th>간선 수</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="graph : ${graphs}">
                <td th:text="${graph.id}"></td>
                <td th:text="${graph.vertexCount}"></td>
                <td th:text="${graph.edgeCount}"></td>
                <td>
                    <a href="#" th:href="@{/graphs/{id} (id=${graph.id})}"> 그래프 보기</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="button" th:onclick="'location.href=\'/graphs/new\''">그래프 추가</button>

    </div>
</div>
</body>
</html>